<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Iniciar sesión</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/estilos.css') }}">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>
<h1 class="text-center mt-5">Sistema de administración</h1>

<body class="bg-primary bg-gradient">

<div class="container vh-100 d-flex justify-content-center align-items-center">

    <div class="col-md-5">

        <div class="card shadow-lg border-0 rounded-4">

            <div class="card-body p-5">

                <div class="text-center mb-4">

                    <i class="bi bi-person-circle display-1 text-primary"></i>

                    <h2 class="fw-bold mt-3">
                        Iniciar sesión
                    </h2>

                    <p class="text-muted">
                        Sistema CRUD con Flask
                    </p>

                </div>

                <form action="/login" method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Usuario
                        </label>

                        <input
                            type="text"
                            class="form-control"
                            name="usuario"
                            required>

                    </div>

                    <div class="mb-4">

                        <label class="form-label">
                            Contraseña
                        </label>

                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            required>

                    </div>

                    <button class="btn btn-primary w-100">

                        <i class="bi bi-box-arrow-in-right"></i>

                        Entrar

                    </button>
                    <div class="text-center mt-4">
                        <p class="mb-2 text-muted">
                            ¿No tienes una cuenta?
                        </p>

                        <a href="{{ url_for('crear_usuario') }}"
                            class="btn btn-outline-success w-100">
                            <i class="bi bi-person-plus"></i>
                            Crear usuario
                        </a>
                    </div>  

                </form>

            </div>

        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>