<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

<link rel="stylesheet"
    href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<link rel="stylesheet"
    href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body class="bg-dark">

<div class="container">

    <div class="row justify-content-center mt-5">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-header text-center">
                    <h3>Iniciar sesión</h3>
                </div>

                <div class="card-body">

                    <form action="/login" method="POST">

                        <div class="mb-3">

                            <label>Usuario</label>

                            <input
                                type="text"
                                class="form-control"
                                name="usuario">

                        </div>

                        <div class="mb-3">

                            <label>Contraseña</label>

                            <input
                                type="password"
                                class="form-control"
                                name="password">

                        </div>

                        <button class="btn btn-primary w-100">

                            Entrar

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>